@use "./variables" as *;

@mixin headingFont {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

@mixin subheadingFont {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: $secGrey;
}

@mixin paragraphFont {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: $secGrey;
}

@mixin buttonFont {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

@mixin mq($key) {
  $size: map-get($mq, $key);
  @media (min-width: $size) {
    @content;
  }
}
