// Colors

$primCyan: hsl(158, 36%, 37%);
$primCream: hsl(30, 38%, 92%);

$secBlue: hsl(212, 21%, 14%);
$secGrey: hsl(228, 12%, 48%);
$secWhite: hsl(0, 0%, 100%);

// Media Queries

$mq: (
  mobile: 375px,
  desktop: 1440px,
);
